torch>=2.7.0 
torchvision
transformers
diffusers
accelerate
safetensors
sentencepiece
gradio
gradio[mcp]
protobuf
gguf
peft
openai
setuptools
wheel
ninja
huggingface_hub

git+https://github.com/huggingface/image_gen_aux