torch==2.7.1
torchaudio
torchvision
git+https://github.com/huggingface/diffusers
transformers==4.56.2
huggingface_hub
gradio
numpy==1.26.4
accelerate
mmgp
peft
openai
modelscope
controlnet-aux
mediapipe
timm